<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedItem.name}}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button (click)="removeItem()"
        ><ion-icon name="trash-outline" color="danger"></ion-icon
      ></ion-button>
      <ion-button routerLink="/edit-item/{{selectedItem.id}}"
        ><ion-icon name="create-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="2">
  <ion-img style="height: 50%" src="{{selectedItem.image}}"> </ion-img>
  <br />
  <b
    ><ion-header style="text-align: center">
      <h1>{{selectedItem.name}}</h1>
    </ion-header></b
  ><br />
  <hr />
  <ion-grid
    ><ion-row
      ><ion-col size="10" offset="1">
        <h3>{{selectedItem.description}}</h3></ion-col
      >
    </ion-row>
    <hr />
    <ion-row
      ><ion-col size="10" offset="1">
        <p *ngIf="date < Sdate">
          Reminder set for: {{selectedItem.reminder}} <br />
        </p>
        <p *ngIf="date > Sdate">Reminder already passed</p></ion-col
      ></ion-row
    ><ion-row
      ><ion-col>Location:{{selectedItem.address}}</ion-col></ion-row
    ></ion-grid
  ></ion-content
>
