<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedItem.name}}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button (click)="removeItem()"
        ><ion-icon name="trash-outline" color="danger"></ion-icon
      ></ion-button>
      <ion-button routerLink="/edit-item/{{selectedItem.id}}"
        ><ion-icon name="create-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="2">
  <ion-img style="height: 50%" src="{{selectedItem.image}}"> </ion-img>
  <br />
  <b
    ><ion-header style="text-align: center">
      <h1>{{selectedItem.name}}</h1>
    </ion-header></b
  ><br />
  <hr />
  <h3>{{selectedItem.description}}</h3>
  <hr />
  <p *ngIf="date < Sdate">
    Reminder set for: {{selectedItem.reminder}} <br />Location:
    {{selectedItem.address}}
  </p>
  <p *ngIf="date > Sdate">Reminder already passed</p></ion-content
>
