<ion-header>
  <ion-toolbar>
    <ion-title>{{selectedItem.name}}</ion-title>
    <ion-back-button slot="start"></ion-back-button>
    <ion-buttons slot="end">
      <ion-button
        ><ion-icon name="trash-outline" color="danger"></ion-icon
      ></ion-button>
      <ion-button><ion-icon name="create-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="2">
  <ion-img src="{{selectedItem.image}}"> </ion-img>
  <br />
  <b
    ><ion-header style="text-align: center">
      {{selectedItem.name}}
    </ion-header></b
  ><br />
  <hr />
  {{selectedItem.description}} <br />Location: {{selectedItem.address}}
</ion-content>
